page-astronomy {

    ion-grid, ion-row, ion-col {
        height: 100%;
    }

    .centeredItem {
        margin-top: 50%;
    }

    ion-scroll{
        width: 100%; 
        height: 100%;
    }

}
