page-login {

    ion-content{
        background: url('../assets/imgs/space-background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;    
        width: 100%;
    }
    
    ion-col {
        position: initial !important;
    }

    ion-item {
        background-color: transparent;
    }

    ion-item.item {
        background-color: transparent;
        margin-top: 5px;
    }

    .labelCenter{
        text-align: center;
    }

    // ion-item {
    //     border-top-left-radius: 5px;
    //     border-top-right-radius: 5px;
    //     border-bottom-left-radius: 5px;
    //     border-bottom-right-radius: 5px;
    // }


    //   ion-item.item {
    //     background-color: rgba(255, 255, 255, 0.4);
    //     margin-bottom: 1px;
    //     margin-top: 5px;
    //     min-height: 1rem;
    //     height: 9vh;
    //     .input {
    //       width: 10%;
    //       color: rgba(0, 0, 0, 0.6);
    //       font-size: 1.0em;
    //     }
    //   }

    ion-row{
        align-items: center;
    }

    ion-list{
        align-self: center;
    }

    ion-icon{
        font-size: 100px;
        color: white;
    }

    ion-label{
        color: white;
    }

    .buttonLarge {
        justify-content: center;
        width: 100%;
        margin-top: 20%;
        background-color: rgb(146, 199, 186);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .rowHeader{
        flex:2;
        background-color: rgba(85, 107, 47, 0);
    }

    .rowContent{
        flex:5;
    }

    .rowFooter{
        flex:1;
    } 

}
