page-login {

    ion-content{
        background: url('../../assets/imgs/space-background.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;    
        width: 100%;
    }
    
    ion-col {
        position: initial !important;
    }

    .labelCenter{
        text-align: center;
    }

    ion-item {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }


      ion-item.item {
        background-color: rgba(255, 255, 255, 0.4);
        margin-bottom: 1px;
        margin-top: 5px;
        min-height: 1rem;
        height: 9vh;
        .input {
          width: 10%;
          color: rgba(0, 0, 0, 0.6);
          font-size: 1.0em;
        }
      }

    ion-row{
        align-items: center;
    }

    ion-list{
        align-self: center;
    }

    ion-icon{
        font-size: 100px;
        color: white;
    }

    ion-label{
        color: white;
    }

    .buttonLarge {
        width: 100%;
        height: 8vh;
        margin-top: 20%;
    }

    .rowHeader{
        flex:2;
        background-color: rgba(85, 107, 47, 0);
    }

    .rowContent{
        flex:5;
    }

    .rowFooter{
        flex:3;
    } 

}
