.ios, .md {

    page-quiz {

        ion-slide {
            align-items: flex-start;
        }
 
        ion-item {
            margin-bottom: 5px;
            font-size: 1.2em;
        }
 
        flash-card {
            color: #000;
 
            img {
                width: fit-content;
                height: fit-content;
            }
        }
 
        .start-slide {
            justify-content: center;
            align-items: center;
 
            button {
                font-size: 1.3em;
                font-weight: bold;
            }
        }
 
        
    }

}

