<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>   
      </button>  
      <ion-title>Home</ion-title>
      <ion-buttons end>
        <button ion-button (click)="logOut()">
          Logout
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
<ion-content>
 
  <progress-bar [progress]="loadProgress"></progress-bar>

  <ion-slides #slides>

      <ion-slide *ngFor="let question of questions; let i = index;">

          <h3>Pregunta {{i + 1}}</h3>

          <flash-card [isFlipped]="question.flashCardFlipped">
              <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
              <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
          </flash-card>

          <!-- <h3>{{question.questionText}}</h3> -->
          <h3>[Texto de la pregunta]</h3>

          <ion-list no-lines radio-group>

              <ion-item class="label-rounded" *ngFor="let answer of question.answers; let i = index;" [color]="answer.color" style="height:8vh;">
                  <ion-badge class="answer-badge" item-start>{{answer.letter}}</ion-badge>  
                  <!-- <ion-label>{{i+1}}. {{answer.answer}}</ion-label> -->
                  <ion-label (click)="selectAnswer(answer, question)">Respuesta número uno</ion-label>
                  <!-- <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio> -->
              </ion-item>

          </ion-list>

      </ion-slide>

      <ion-slide>
        <h2>Final Score: {{score}}</h2>

        <button (click)="restartQuiz()" ion-button full color="primary">Start Again</button>

    </ion-slide>

  </ion-slides>

</ion-content>
