<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>   
    </button>  
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button (click)="logOut()">
        Logout
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
 
  <button ion-button (click)="confirmInit()" *ngIf="initConfirmed=='0'">EMPEZAR</button>

  <ion-slides *ngIf="initConfirmed=='1'" #slides>

      <ion-slide *ngFor="let question of questions; let i = index;">

          <h3>Question {{i + 1}}</h3>

          <flash-card [isFlipped]="question.flashCardFlipped">
              <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
              <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
          </flash-card>

          <h3>{{question.questionText}}</h3>

          <ion-grid>
              <ion-row>
                <ion-col col-6><ion-icon item-start name="checkmark-circle"></ion-icon></ion-col>
                <ion-col col-6><ion-icon item-start name="close-circle"></ion-icon></ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6><p>Verdadero</p></ion-col>
                <ion-col col-6><p>Falso</p></ion-col>
              </ion-row>
          </ion-grid>               
      </ion-slide>

      <ion-slide>
        <h2>Final Score: {{score}}</h2>

        <button (click)="restartQuiz()" ion-button full color="primary">Start Again</button>

    </ion-slide>

  </ion-slides>

</ion-content>
