// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background {
  background-color: rgb(149, 194, 183);
  color: whitesmoke;
}

.icon-left {
    font-size: 26px; // Your size here
    vertical-align: middle;
  }

.icon-right {
    vertical-align: middle;
}

.text{
    display: inline-block;
    vertical-align: middle;
}

.text-input::-moz-placeholder {
    color: white;
  }
  
  .text-input:-ms-input-placeholder {
    color: white;
  }
  
  .text-input::-webkit-input-placeholder {
    text-indent: 0;
    color: white;
  }
  
.scroll-content { padding-bottom: 0!important; }
