<ion-menu [content]="content" persistent='true' type='overlay'>
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
      
        <ion-content>
            <ion-list>
              <ion-item *ngFor="let p of pages; let i=index" text-wrap (click)="toggleLevel1('idx'+i, p.component)" [ngClass]="{active: isLevel1Shown('idx'+i)}" 
                        [menuClose]="p.menuClose">
                <h4>
                  <ion-icon class="icon-left" [name]="p.icon" item-left></ion-icon>
                    <span class="text">{{p.category}}</span>
                  <ion-icon class="icon-right" color="success" *ngIf="p.hasChilds=='true'" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                </h4>
                <ion-list *ngIf="isLevel1Shown('idx'+i)">
                  <ion-item *ngFor="let s of p.subs; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2, s.component)" [menuClose]="s.menuClose"
                            [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">                    
                    <h4>
                      <ion-icon class="icon-left" [name]="s.icon" item-left></ion-icon>
                      <span class="text">{{s.subcategory}}</span>
                      <ion-icon class="icon-right" color="success"  *ngIf="s.hasChilds=='true'"
                                item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </h4>
                    <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
                      <ion-item *ngFor="let m of s.childs" (click)="openPage(m.component, m.quizName)" menuClose detail-none text-wrap>
                        <ion-icon class="icon-left" [name]="m.icon" item-left></ion-icon>
                          <span class="text">{{m.child}}</span>
                      </ion-item>
                    </ion-list>
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list>
          </ion-content>
      
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>