page-signup {

    ion-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
 
    ion-grid {
        display: flex;
        height: 100%;
        justify-content: center;
    }

    button {
        justify-content: center;
    }

    ion-list{
        align-self: center;
    }

    .rowHeader{
        flex:2;
    }

    .rowContent{
        flex:4;
    }

    .rowFooter{
        flex:1;
    }

    .buttonFullWidth {
        width: 100%;
    }
}
